//font-family: 'Roboto', sans-serif; --> 300 / 500 / 700
//font-family: 'Shrikhand', cursive; --> 400

body {
    font-family: $main-font;
    @include text($main-txt-size, $medium);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2 {
    @include title-main;
}

h3 {
    margin: 0;
}

i {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

header {
    .header-img {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 14px 0px 13px 0px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        & img {
            width: 197px;
        }
    }
    & .location {
        background-color: #EAEAEA;
        text-align: center;
        padding: 15px 0;
        color: $footer-background--header-txt;
        & i {
            margin-right: 14px;
        }
    }
}

.reservation {
    text-align: center;
    background-color: $main-background;
    padding: 15px 25px 40px 25px;
    & p {
        font-weight: $light;
    }
    & a {
        @include text($main-txt-size, $medium);
        padding: 13px 18.75px;
        border-radius: 25px;
        border: none;
        background: linear-gradient($secondary, $primary);
        color: white;
        text-decoration: none;
        display: inline-block;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.5s;
    }
    & a:hover {
        filter: brightness(113%);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
    }
}

.fonctionnement {
    padding: 48px 20px 68px 20px;

    @media screen and (min-width:1024px) {
        @include desktop-container;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width:1024px) {
            flex-direction: row;
        }
        &--card {
            background-color: $main-background;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            height: 72px;
            width: auto;
            border-radius: 20px;
            display: flex;
            align-items: center;
            margin-left: 12px;
            
            @media screen and (min-width:1024px) {
                width: 33.33%;
            }
            &-number {
                background: $primary;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                margin-left: -12px;
                align-self: center;
            }
            &-content {
                margin-left: 20px;
                display: flex;
                align-items: baseline;
                gap: 20px;
                & .fa-solid {
                    color: #7E7E7E;
                    font-size: 20px;
                }
                & .fa-store {
                    color: $primary;
                }
            }
        }
    }
}

.restaurants {
    background-color: $main-background;
    padding: 30px 18px 50px 18px;
    &__content {
        @media screen and (min-width:1024px) {
            @include desktop-container;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media screen and (min-width:1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
        }
        & a {
            @media screen and (min-width:1024px) {
                width: calc(50% - 25px);
            }
            & .restaurants__card {
                background-color: white;
                border-radius: 15px;
                position: relative;
                &--new {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    background-color: $accent;
                    padding: 7px 11px;
                    font-size: 14px;
                    border-radius: 2px;
                    color: #008766;
                }
                &--img {
                    width: 100%;
                    height: 231px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    object-position: center;
                    object-fit: cover;
                }
                &--component {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 22px 13px 15px;
                    &-text {
                        & p {
                            margin: 5px 0;
                            @include text($card-description-size, $light);
                        }
                    }
                    &-icons {
                        font-size: 22px;
                        & .fa-solid {
                            font-weight: 900;
                            background: linear-gradient($primary, $secondary);
                            color: transparent;
                            -webkit-background-clip: text;
                            position: absolute;
                            opacity: 0;
                            transition: opacity 0.5s;
                        }
                        & .fa-regular {
                            opacity: 1;
                            transition: opacity 1s;
                        }
                    }
                    &-icons:hover .fa-solid {
                        opacity: 1;
                    }
                    &-icons:hover .fa-regular {
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                }
            }
        }
    }
}